@model int[]

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Num Page</title>
</head>
<body>
        <h4 class="text-center"> Here are some numbers!</h4>
        <ul>
            @foreach (var number in Model){
                <ul>@number</ul>
            }
        </ul>
</body>
</html>

